bin/
obj/
*.suo
*.sln.dotsettings.user
*/*.csproj.dotsettings.user
*.nupkg

.build/
artifacts/
packages/
src/Piwik.Analytics.NetCore/project.lock.json
test/Piwik.Analytics.NetCore.Tests/project.lock.json